@import './variables/style.scss';


body{
    
    background-color: var(--couleur-primary);
    
                                  /*-------------------------------la partie du footer---------------------------------------*/
                footer{
                    width: 100%;
                    background-color: var(--couleur-marrone);
                    position: absolute; //superposer les div entres elles.
            
                    #footer{
                        width: 65%;
                        height: auto;
            
                        hr{
                            height: 2px;
                            width: 100%;
                            color: #ccc;
                            border-style: dotted;
                        }
                
                        p{
                            color: var(--couleur-white);
                            font-size:x-small;
                            text-align: center;
                        }
                
                        .informations{
                            width: 45%;
                            height: 5vh;
                            background-color: var(--couleur-white);
                            border-radius: 7px;
                            margin-left: 25%;
                            margin-bottom: 25px;
                            margin-top: -2%;
            
                            #info{
                                a{
                                    color:black;
                                    text-decoration: none;
                                    font-weight:normal;
                                    font-size: small;
                                }
                                i{
                                    color: lightgray;
                                }
                            }
                        }
            
                            #reseau{
                                
                                // width: 20%;
                                // margin-left: 40%;
                                margin-bottom: 15px;
                            }
                    }  
                }
}