@import './variables/style.scss';


body{
    
    background-color: var(--couleur-primary);
                /*-------------------------------la partie du milieu---------------------------------------*/
                .card{
                    background-color: var(--couleur-secondary);
                    width: 67%;
                    // height: 175vh;
                    margin-left: 15%;
                    margin-right: 15%;
                    border: 0px;
            
            
            
                    header{
                        width: 100%;     
                        img{
                          
                            width: 100%;
                            object-fit: contain;
                            height: auto;
                            
                        }  
                    }
            
                    .galerie{
                        width: 100%;
                        // height: 40%;
                        margin-top: -2%;
                        text-align: center;
                       
                        .container{
                            display: flex;
                            justify-content: space-evenly;
                            margin-top: 5%;
                            @media all and (max-width :992px) {
                               flex-direction: column;
                            }
                            .rows{
                                // height: 25%;
                                // width: 33%;
                                /* border: solid 2px red; */
            
                                @media all and (max-width :992px) {
                                //    padding: 0px 30px;
                                    width: 70%;
                                 }
                                text-align: center;
                                position: relative;
            
                                #gants{
                                    margin-top: -12%;
                                }
                
                                img{
                                    object-fit: cover;
                                    height: auto;
                                    width: 100%;
                                }
                
                                .btn{
                                    background-color: var(--couleur-noire);
                                    position: absolute;
                                    right:-50px;
                                    top: 10px;
                                    width: 80px;
                                    height: 40px;
                                    border-radius: 10px;
                                    display: flex;
                                    justify-content:center ;
                                    align-items: center;
                                    color: #EA9F05; 
                                }
            
                                #vente{
                                    margin-top: -2%;
            
                                    button{
                                        width: 40%;
                                        background-color: black;
                                        color: #fff;
                                        border-color: black;
                                    }
                                    
                                    span{
                                        font-weight: bold;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
}